
@section scripts{
    <script>
        $(function () {
            AjaxGet('/User/GetTable', {}, function (data) {
                var $tbody = $('table > tbody'),
                    items = data.Items,
                    count = data.Count;

                for (var i = 0; i < items.length; ++i) {
                    $tbody.append('<tr><td>' + items[i].Username + '</td><td>' + items[i].RoleName +
                        '</td><td><a class="glyphicon glyphicon-pencil"></a></td><td><a class="glyphicon glyphicon-remove"></a></td></tr>');
                }
            });
        });
    </script>
}

<div class="container">
    <h2>User Management</h2>

    <div>
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

